.carIntroAnimation{
    animation: carIntro 2s infinite linear alternate;
}

.carIntroAnimation::-webkit-scrollbar{
    display: none;
}

@keyframes carIntro {
    0%{
        left: 10%;
        opacity: 0;
    }

    50%{
        opacity: 0.2;
    }

    100%{
        left: 50%;
        opacity: 0;
    }
}
.hideScrollBar::-webkit-scrollbar{
    display: none;
}


@media (max-width: 768px) {
  .logoAnimation img {
    width: 300px !important;
    left: -500px !important;
  }
}
