.infoBox{
    background-color: rgba(255, 255, 255, 0.049);
}

.img-and-info{
    background-color: rgba(255, 255, 255, 0.027);  
}

.deleteButton{
    background-color: rgba(255, 60, 0, 0.992);
    box-shadow: 0 0 5px rgba(255, 60, 0, 0.992);
    cursor: pointer;
}