.formNotFilledNotification {
    background-color: rgba(255, 0, 0, 0.608);
    padding: 10px;
    border-radius: 10px;
}

.phoneAndPinNotValidNotification {
    background-color: rgba(255, 251, 0, 0.589);
    padding: 10px;
    border-radius: 10px;
}

.successNotification {
    background-color: rgba(9, 255, 0, 0.589);
    padding: 10px;
    border-radius: 10px;
}

.wrongOtp {
    background-color: rgba(255, 0, 0, 0.608);
    padding: 10px;
    border-radius: 10px;
}

.animationNotification {
    animation: notification 0.2s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.cancelBtn {
    background-color: red;
    box-shadow: 0 0 10px red;
}

@keyframes notification {
    0% {
        top: -10px;
    }
}


@media (max-width: 768px) {

  .innerBox {
    width: 100% !important;
    height: auto !important;
  }

  .infoBox {
    flex-direction: column;
  }

  .address-details,
  .amount-details {
    width: 100% !important;
  }

  fieldset input {
    width: 100% !important;
  }

  .input-city-pinCode {
    flex-direction: column;
  }

  .otp-popup {
    width: 90% !important;
  }
}
